th{
    background-color:black;
    color:red;
}
td{
    background-color:black;
    color:white;
}
table,th,td{
    border: 0px solid black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    text-align: center;
}