th#yourMazeIs{
    background-color:black;
    color:red;
}
td#mazeType{
    background-color:black;
    color:white;
}
table.mazeTypes, th#yourMazeIs, td#mazeType{
    border: 0px solid black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    text-align: center;
}

td{
    border: 4px solid black;
}

table.wallsMazeMaps{
    border-top-style: hidden;
    border-bottom-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

td#wallsMazeHeader{
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    text-align: center;
}

td#left{
    border-top-style: hidden;
    border-bottom-style: hidden;
    border-left-style: default;
    border-right-style: hidden;
}

td#right{
    border-top-style: hidden;
    border-bottom-style: hidden;
    border-left-style: hidden;
    border-right-style: default;
}

td#up{
    border-top-style: default;
    border-bottom-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
}

td#down{
    border-top-style: hidden;
    border-bottom-style: default;
    border-left-style: hidden;
    border-right-style: hidden;
}

td#leftright{
    border-top-style: hidden;
    border-bottom-style: hidden;
    border-left-style: default;
    border-right-style: default;
}

td#leftup{
    border-top-style: default;
    border-bottom-style: hidden;
    border-left-style: default;
    border-right-style: hidden;
}

td#leftdown{
    border-top-style: hidden;
    border-bottom-style: default;
    border-left-style: default;
    border-right-style: hidden;
}

td#rightup{
    border-top-style: default;
    border-bottom-style: hidden;
    border-left-style: hidden;
    border-right-style: default;
}

td#rightdown{
    border-top-style: hidden;
    border-bottom-style: default;
    border-left-style: hidden;
    border-right-style: default;
}

td#updown{
    border-top-style: default;
    border-bottom-style: default;
    border-left-style: hidden;
    border-right-style: hidden;
}

td#leftrightup{
    border-top-style: default;
    border-bottom-style: hidden;
    border-left-style: default;
    border-right-style: default;
}

td#leftrightdown{
    border-top-style: hidden;
    border-bottom-style: default;
    border-left-style: default;
    border-right-style: default;
}

td#leftupdown{
    border-top-style: default;
    border-bottom-style: default;
    border-left-style: default;
    border-right-style: hidden;
}

td#rightupdown{
    border-top-style: default;
    border-bottom-style: default;
    border-left-style: hidden;
    border-right-style: default;
}

td#none{
    border-top-style: hidden;
    border-bottom-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
}

